<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="planillas/template :: head">
<meta charset="UTF-8">
<title>ADOGTAME</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.00, minimum-scale=1.00, maximum-scale=2.00">

<link rel="stylesheet" th:href="@{/css/homestyle.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@649&display=swap" rel="stylesheet">
<body data-spy="scroll" data-target="navbar">
	<header class="header">
		<nav class="navbar" th:replace="planillas/template :: navbar"></nav>
	</header>
	<div class="middle-images">
		<div id="leftImg">
			<img th:src="@{/images/dogs_human.png}" >
			<b>LOS CUIDAMOS</b>
			<p>Cuidamos a cada uno de nuestras mascotas y les damos el amor que merecen</p>
		</div>
		<div id="rightImg">
			<img  th:src="@{/images/dogs.png}">
			<b>VOS ELEGIS</b>
			<p>Sentite cómodo eligiendo a cuál perro hacer feliz en su vida</p>
		</div>
	</div>
	
	<footer id="contact" th:replace="planillas/template :: footer"></footer>
</body>

</html>