<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="planillas/template :: head">
<meta charset="UTF-8">
<title>ADOGTAME</title>
</head>
<link rel="stylesheet" th:href="@{/css/homestyle.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@649&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<body>
	<div id="wrapper">
		<header class="header">
			<nav id="navbar" th:replace="planillas/template :: navbar"></nav>
		</header>
	</div>
	<div id="aboutus">
	
		<div id="leftImg">
			<img th:src="@{/images/dogs_human.png}"> <b>GUARDERIA
				CANINA</b>
			<p>Usa nuestra plataforma para elegir a tu próxima mascota</p>
		</div>
		<div id="rightImg">
			<img th:src="@{/images/dogs.png}"> <b>VOS ELEGIS</b>
			<p>Sentite cómodo eligiendo a tu próxima mascota para que lo
				acompañes en su vida</p>
		</div>
	</div>
	<div id="separator"></div>
	<footer id="contact" th:replace="planillas/template :: footer"></footer>
	<script>
		$(document).ready(function() {
			$(".menu-icon").on("click", function() {
				$("nav ul").toggleClass("showing");
			});
		});

		// Scrolling Effect

		$(window).on("scroll", function() {
			if ($(window).scrollTop() > 500) {
				$('nav').addClass('black');
			} else {
				$('nav').removeClass('black');
			}
		})
	</script>
	
</body>
</html>