html {
	scroll-behavior: smooth
}

.header {
	width: 100%;
	height: 100vh;
	background-image: url("../images/bg_image.jpg");
	background-position: center;
	background-size: cover;
}

#navbar {
	position: fixed;
}
#navbar .logo{
	position: fixed;
}
/* IMAGES SECTION*/
#aboutus {
	background: linear-gradient(to right, #B3FAFF 0%, #4DB8C0 100%);
	height: 100vh;
	width: 100%;
	text-align: center;
	justify-content: center;
}

#leftImg, #rightImg {
	display: inline-block;
	padding-top: 4%;
	height: 60vh;
	max-width: 60vh;
	height: 60vh;
}

#leftImg img, #rightImg img {
	display: block;
	width: 50vh;
	margin-left: auto;
	margin-right: auto;
}

#leftImg {
	margin-left: 20px;
}

#rightImg {
	
}

b {
	font-size: 4.5vh;
}

p {
	font-size: 3vh;
	
}
/*----------------*/
#separator{
	width: 100%;
	height: 5vh;
	background: linear-gradient(to right, #B3FAFF 0%, #4DB8C0 100%);
}
@media ( max-width : 1200px) {
	
	#leftImg {
		margin-right: 0;
	}
}

@media ( max-width :1070px) {
	#aboutus {
	
		width: 100%;
		height: auto;
		text-align: center;
	}
	#leftImg {
		margin-right: 0;
	}
}