body{
	background-image: url("../images/bg_image.jpg");
	background-position: center top;
	background-size:cover;
	background-repeat: no-repeat;
}
.header {
    background-color: black;
    
}

span {
  color: white; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  background-color: black;
  
}
a {
  color: white; /* Change the color */
 
}
