html {
	scroll-behavior: smooth
}

span {
	color: white;
	font-weight: bold;
	background-color: black;
}

a {
	color: white;
}

.header {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url("../images/bg_image.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}

.middle-images {
	background-image: linear-gradient(to right, #B3FAFF 0%, #4DB8C0 100%);
	position: relative;
	height: 84vh;
	width: 100%;
}

#leftImg, #rightImg {
	display: inline-block;
	border: 1px solid black;
	position: absolute;
	justify-content: center;
	height: 60vh;
	margin-top: 8vh;
	text-align: center;
	max-width: 60vh;
}

#leftImg img, #rightImg img {
	display: block;
	width: 50vh;
	margin-left: auto;
	margin-right: auto;
}

#leftImg {
	left: 12%;
}

#rightImg {
	left: 60%;
}

b {
	font-size: 4.5vh;
}

p {
	font-size: 3vh;
}

@media ( max-width :760px) {
	.middle-images {
		width: 100%;
		height: 940px;
		text-align: center;
	}
	#leftImg, #rightImg {
		position: relative;
		left: 0;
	}
	#rightImg {
		margin-top: 40px;
	}
}