.text-small {
	font-size: 0.9rem !important;
}

.header {
	background-color: #00d2ff;
	background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%);
	width: 100%;
}
/* ------------- NAVBAR ---------------*/
#navbar {
	width: 100%;
	padding-bottom: 2.5%;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	text-align: center;
	background-image: linear-gradient(to top, #f2f2f2 0%, #d9d9d9 100%);
}

#navbar a {
	color: black;
	display: inline-block;
	position: relative;
	top: 14px;
}

#navbar a:hover {
	color: gray;
}

/* ------------- FOOTER ---------------*/

#contact {
	background-color: #292E35;
	text-align: center;
	position: relative;
	font-size: 3vh;
	width: 100%;
	
}

#pageTextFooter {
	color: white;
	font-size: 6vh;
	font-weight: bold;
	position: absolute;
	font-family: 'Nunito Sans', sans-serif;
	top: 10%;
	font-weight: bold;
	width: 100%;
}

.fa {
	padding: 3vh;
	margin: 0 15px 15px;
	margin-top: 18vh;
	background-color: rgba(255, 255, 255, 0.3);
	color: white;
	border-radius: 50%;
}

#littleFB {
	padding-left: 4vh;
}

.bottomtext-footer {
	padding-top:3vh;
	color: rgba(255, 255, 255, 0.3);
	font-size: 3vh;
	text-align: center;
	background-color: #292E35;
	
}
/* ------------- POPUP ---------------*/
#popup {
	text-align: left;
	position: absolute;
	top: 100px;
	left: 80%;
}

#popup .close {
	position: absolute;
	margin: 0px auto;
}