<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title th:fragment="pageTitle">ADOGTAME</title>

<link rel="stylesheet" th:href="@{/css/templatestyle.css}">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap"
	rel="stylesheet">
	
<link  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">



    
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	
	<!-- Navbar -->
	<div id="wrapper">
		<nav id="navbar" th:fragment="navbar">
		   <div class="menu-icon">
		      <i class="fa fa-bars fa-2x"></i>
		   </div>
		   <div class="logo">
		      <a th:href="@{/}">ADOGTAME</a>
		   </div>
		   <div class="menu">
			   <ul>
				   <li><a th:href="@{/}">Inicio</a></li>
				   <li><a th:href="@{/views/dogs/}">Perros</a></li>
				   <li><a th:href="@{/#aboutus}">Sobre nosotros</a></li>
				   <li><a th:href="@{/#contact}">Contacto</a></li>
			   </ul>
		    </div>
		</nav>
	  </div>
		<!-- Operation Result Messages-->
		<div id="popup" th:fragment="popupMessages">
			<div class="alert alert-success alert-dismissable" th:if="${created != null}">
				<label th:text="${created}"></label>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			<div class="alert alert-warning alert-dismissable" th:if="${deleted!= null}">
				<label th:text="${deleted}"></label>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			<div class="alert alert-danger alert-dismissable" th:if="${error != null}">
				<label th:text="${error}"></label>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			<div class="alert alert-info alert-dismissable" th:if="${sent != null}">
				<label th:text="${sent}"></label>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		</div>
	<!-- Footer -->

		<footer th:fragment="contact" id="contact">
		<div id="footer">
			<div id="pageTextFooter">
				<a>Adogtame.com</a>
			</div>
			
			<a id="littleFB" href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-instagram"></a>
			<a href="#" class="fa fa-twitter"></a>
			
			<!-- Copyright -->
			<div class="bottomtext-footer">
				<a>© 2022 Copyright. Created by Solari Matias</a>
			</div>
			<!-- Copyright -->
			</div>
		</footer>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/scripts.js}"></script>
</body>
</html>