<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="planillas/template :: head">
<meta charset="UTF-8">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
<body>

	<nav th:replace="planillas/template :: navbar"></nav>
	
	<div class="container border">
		<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
		<div class="card-body">
			<form th:action="@{/views/mails/consultar/{id}(id=${perro})}" th:object="${perro}"method="post" enctype="multipart/form-data">	
				<!-- CORREO -->
				<div class="form-group">
					<label>Su correo:</label>
					<div class="input-group mb-2 mr-sm-2 mb-sm-0">
						<div class="input-group-addon">@</div>
						<input type="text" class="form-control" name="mail"
							placeholder="Correo electónico" />
					</div>
				</div>
				<!-- DESCRIPCION -->
				<div class="form-group">
					<label>Consulta:</label>
					<textarea class="form-control" rows="5" name="comment"></textarea>
				</div>
				<input type="submit" class="btn btn-primary" value="Guardar">
			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/5b5fa05dbf.js"></script>
</body>
</html>