<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="planillas/template :: head">
<meta charset="UTF-8">

<title>ADOGTAME</title>

</head>
<body>

	<nav th:replace="planillas/template :: navbar"></nav>
	<div class="container">
		<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
		<div class="card-body">
			<form th:action="@{/views/dogs/save/{id}(id=${perro.getId})}" th:object="${perro}" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<input type="hidden" th:field="*{id}"> 
						<label for="age">Fechade ingreso: </label> 
							<input type="date" th:field="*{age}" class="form-control" max="2999-12-31"> 
							<small class="form-text text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></small>
				</div>
				<div class="form-group">
					<label for="raza">Raza del perro: </label> 
					<select th:field="*{dogBreed}" class="form-control" id="select">
						<option th:each="dogBreed:${breed}" th:value="${dogBreed.getId}" th:text="${dogBreed.getBreedname}" />
					</select>
				</div>
				<div class="form-group">
					<input id="imgInp" type="file" name="file"/>
					<img class ="form-text"id="blah" src="#" alt="your image" width="250px" height="250px" th:src="@{'/uploads/'+${image}}"/>
					<small class="form-text text-danger" th:if="${errorImage}" th:text="${errorImage}"></small>
				</div>
				<input type="submit" class="btn btn-primary" value="Guardar">
			</form>
		</div>
	</div>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/scripts.js}"></script>
</body>

</html>