<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head th:replace="planillas/template :: head">
<meta charset="ISO-8859-1">
<title>Lista perros</title>
</head>
<body>
	<nav th:replace="planillas/template :: navbar"></nav>
	<div class="container">
		<h1 th:text="${titulo}"></h1>
		
	</div>


	<div class="container">
		<div class="row">
			<div class="col-12">
				<table class="table table-image">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Edad</th>
							<th scope="col">Raza</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cl:${perros}">
							<td th:text="${cl.id}"></td>
							<td th:text="${cl.age}"> año</td>
							<td th:text="${cl.dogBreed.breedname}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


</body>
</html>